*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

/*  Styling Navbar*/

.navbar{
    height: 59px;
    background-color: #0f1111;
    color: white;
    display: flex;
    /* position:fixed; */
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    position:sticky;
    left: 0%;
    height: 50px;
    min-width: 100px;
    cursor: pointer;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    min-width: 100px;
}
.nav-address{
    height: 50px;
    min-width: 100px;
    cursor: pointer;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px  solid white;
}
#first{
   color: #cccccc;
   font-size: 0.85rem;
   margin-left: 30px;
   margin-top: 8px;
   display: flex;
   justify-content: center;
}
#second{
    font-size: 1rem;
    margin-left: 8px;
    margin-right: 16px;
}
.add-icon{
    display:flex;
    justify-content: center;
    align-items:center;
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    min-width: 425px;
    width:850px;
    height:40px;
    margin-left: 12px;
    border-radius: 3px;
}
.nav-search:hover{
    border: 3px solid orange;
}
.search-select{
    background-color: #d4d4d4;
    width: 50px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border:none;
}
.search-input{
    width:100%;
    font-size: 1rem;
    border:none;
}
.search-icon{
    width:45px;
    display: flex;
    justify-content: center;
    background-color: #febd68;
    align-items:center;
    font-size: 1.2rem;
    color:#0f1111;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
span{
    position:sticky;
    font-size: 0.7rem;
    cursor: pointer;
}
.Hello{
    margin-left: 9px;
}
.triangle-down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid grey;
    margin-top:5px;
}
.nav-second{
    position:sticky;
    font-size: 0.85rem;
    font-weight: 700;
    display:flex;
    justify-content: center;
    align-items: center;
}
.nav-cart i{
    font-size:30px;
}
.nav-cart{
    position:sticky;
    font-size:0.85rem;
    font-weight: 700;
    display:flex;
    height: 50px;
    min-width:  80px;
    cursor: pointer;
}
.nav-sign{
    height: 50px;
    min-width: 130px;
    cursor: pointer;
}
span{
    display:flex;
    margin-top: 9px;
    margin-left: 14px;
    align-items: center;
}
p span{
    margin-left:22px;
}
.nav-return{
    height: 50px;
    min-width: 100px;
    cursor: pointer;
}
.nav-cart p{
    display:flex;
    padding-top:25px;
}
.nav-cart i{
    padding-left:8px;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* Styling Panel */

.panel{
    height:40px;
    background-color: #222f3d;
    display: flex;
    color:white;
    align-items: center;
    font-size: 0.85rem;
}
.panel-all{
    margin-left: 10px;
}
.panel-ops p{
    display: inline;
}
.border1{
    border: 2px solid transparent;
    padding:8px;
    cursor: pointer;
}
.border1:hover{
    border: 1.5px  solid white;
}

/* Styling Hero section */

.hero-section{
    background: url("hero_image.jpg");
    height:300px;
    background-size: cover;
    padding: 10px 14px;
    display: flex;
    align-items: flex-end;
}
.hero-msg{
    font-size: 14px;
    height: 40px;
    width: 1500px;
    background-color: white;
    color:black;
    display: flex;
    align-items: center;
    padding-left: 12px;
}
 a{
    cursor: pointer;
    color: #007185;
}
 a:hover{
    text-decoration: underline;
    color:red;
}

/* Styling Shopping part */
.hero-shopping{
    background-color: #e2e7e6;
}
.hero-content{
    padding-top:20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.box{
    height:420px;
    width: 23%;
    margin-bottom:20px;
    background-color: white; 
    cursor: pointer;
}
.box-img{
    height: 300px;
    background-size: cover;
    margin-left: 25px;
    margin-right: 25px;
}
.heading {
    font-size: 20px;
    display:flex;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 25px
}
.box p{
    margin:22px;
}

/* Styling Footer */

footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #37475A;
    color:white;
    height: 50px;
    display: flex;
    font-size: 0.85rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.foot-panel2{
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    background-color: #232F3E;
}
.foot-panel2 ul{
    margin-top: 50px;
}
.foot-panel2 ul p{
    color: white;
    font-weight: bold;
    font-size: 16px;
}
 ul li a{
    color: #DDDDDD;
    cursor: pointer;
}
ul li a:hover{
    color: #DDDDDD;
    text-decoration: underline;
    cursor: pointer;
}
.foot-panel2 ul li{
    margin-top:12px;
    list-style: none;
    font-size: 0.90rem;
}
.foot-panel3{
    border-top:1px solid;
    border-color: #3A4553 ;
    height:70px;
    background-color: #232F3E;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.amz-logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    width:100px;
    height:50px;
    color:white;
}
.foot-panel4{
    height:77px;
    background-color:#131A22;
    display: block;
}
.foot-panel4 ul{
    text-align: center;
    padding-top: 20px;
    padding-left: 0px;
}
.foot-panel4 ul li{
    list-style: none;
    font-size: 12px;
    display: inline;
    padding: 0px 7.2px;
}
.copyright{
    color: #DDDDDD;
    font-size: 12px;
    cursor: auto;
    text-align: center;
    padding-bottom: 30px;
}

